# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
*.dSYM.zip
*.dSYM

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace
